body {
	background-color: #36393f;
}

:root {
	--blue: #41c8f4;
}

.navbar {
	background-color: #2f3136;
}

.header {
	color: #fff;
	height: 100vh;
	width: 100%;
}

.header span {
	color: var(--blue);
}

.header img {
	max-width: 300px;
}

.btn-outline-custom {
	border: 1px solid var(--blue);
	color: #41c8f4;
}

.btn-outline-custom:hover {
	background-color: var(--blue);
	color: #fff;
}

@media (max-width: 720px) {
	body {
		padding-top: 4.5rem;
	}

	header img {
		display: none;
	}
}
